/* 
COLOR PALETTE
#F9F5F6 - light
#F8E8EE
#FDCEDF
#F2BED1 - dark
 */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@700&display=swap');

.main {
    display: flex;
    flex-direction: row;
    color: rgb(53, 8, 49);

}

body {
    background: radial-gradient(circle at center, #F9F5F6, #F2BED1);
    font-family: Raleway;
}

.addstud {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: Raleway;
}

ul {
    margin: 0;
    padding: 10px;
    font-size: 2ic;
}

.input {
    margin-left: 20px;
}

input {
    background-color: #F8E8EE;
    border-radius: 5px;
    font-family: Raleway;
    border: solid #F2BED1;
    margin: 2.5px;
    color: black;
}

input:hover {
    border-color: white;
}


.button {
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.display {
    margin-bottom: 20px;
    background-color: #fdcedf54;
    border-radius: 5px;
    border: solid #F2BED1;
    font-family: Raleway;
}

h1 {
    font-family: Pixelify Sans;
    font-size: 100px;
    color: #F2BED1 ;
    text-shadow: -1px -1px 0 rgb(53, 8, 49), 1px -1px 0 rgb(53, 8, 49), -1px 1px 0 rgb(53, 8, 49), 1px 1px 0 rgb(53, 8, 49);    
}

.searchstud {
    margin-bottom: 20px;
    background-color: #fdcedf54;
    border-radius: 5px;
    border: solid #F2BED1;
    font-family: Raleway;
    padding: 2ic;
}

.submain {
    width: 350px;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.submain2 {
    width: 350px;
    margin-left: 50px;
}

.label {
    font-weight: bolder;
    font-size: larger;
}